n8n-ejemplos/4_AdvancedBot.json
{
  "name": "4-AdvancedBot",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "You are a helpful assistant"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        40,
        -60
      ],
      "id": "b89fdd3d-ff13-459c-80d5-dc5220e04644",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4",
          "mode": "list",
          "cachedResultName": "gpt-4"
        },
        "options": {
          "temperature": 0.5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -40,
        240
      ],
      "id": "516d11be-0b2d-473f-951e-81822c762cc3",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -1200,
        -60
      ],
      "id": "621b03d7-846b-4f49-bce0-9a0377c416d7",
      "name": "Telegram Trigger",
      "webhookId": "fd11e033-a118-4bb3-90a2-7ae32426f825"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "contextWindowLength": 6
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        100,
        240
      ],
      "id": "786004a4-dd39-44b9-93d3-e655d69ad90a",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        700,
        220
      ],
      "id": "775deab0-a373-49fc-b669-1d35edb8f61c",
      "name": "Calculator"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        600,
        -60
      ],
      "id": "9764902f-0088-43d9-8553-51429ba2a2c9",
      "name": "ResponderTelegram",
      "webhookId": "9ac3e595-cff1-4c3e-8fd6-c64030f59d28"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4c21dfad-8dee-496a-97f5-c803fd86b56e",
              "leftValue": "={{ $json.usuario_autorizado }}",
              "rightValue": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
              "operator": {
                "type": "array",
                "operation": "contains",
                "rightType": "any"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -780,
        -60
      ],
      "id": "ee76d18c-2afd-43bf-a79a-e0537d85eb15",
      "name": "If"
    },
    {
      "parameters": {
        "download": false,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.nasaTool",
      "typeVersion": 1,
      "position": [
        260,
        220
      ],
      "id": "b1bbd408-8802-455e-8c15-c1fd88b9bf5a",
      "name": "NASA"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "2b83cc58-00d3-47ce-81f0-3802a3a5fb4a"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1de22846-7e32-414d-af3c-11cb1e1f5fee",
                    "leftValue": "={{ $json.message.voice }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "voz"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -540,
        -80
      ],
      "id": "a19d4c09-565b-417a-bbfb-5fbf1dd964c8",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger').item.json.message.voice.file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -880,
        120
      ],
      "id": "acbeced9-a1e5-45ee-b604-acccf2aaccdc",
      "name": "Telegram",
      "webhookId": "fa1ccb3b-f0bc-47b2-88b0-b121d5d9100f"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -700,
        120
      ],
      "id": "0d976204-e728-4399-81e0-38575166fa80",
      "name": "OpenAI"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "be5c26cb-6e3f-4f8a-809d-33bc6e424bcf",
              "name": "message.text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -260,
        120
      ],
      "id": "4b8fefef-a192-4679-9631-3c409ee8d77b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "toolDescription": "execute a web search and summarize",
        "method": "POST",
        "url": "http://10.0.8.5:3000/api/search",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n\"chatModel\": {\n\"provider\": \"custom_openai\",\n\"customOpenAIBaseURL\": \"https://iapi.mksmad.org\",\n\"customOpenAIKey\": \"YourAPIKey\",\n\"model\": \"gpt-4\"\n},\n\"embeddingModel\": {\n\"provider\": \"ollama\",\n\"model\": \"bge-m3:latest\"\n},\n\"optimizationMode\": \"speed\",\n\"focusMode\": \"webSearch\",\n\"query\": \"{query}\"\n}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "query",
              "description": "query for the search",
              "type": "string"
            }
          ]
        },
        "optimizeResponse": true,
        "dataField": "message"
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        420,
        220
      ],
      "id": "1d52478d-c32a-4507-bfc6-550e776a83f2",
      "name": "websearch",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "73f2fc58-384e-4357-a7db-5e7119c20554",
              "name": "usuario_autorizado",
              "value": "[000000]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -980,
        -60
      ],
      "id": "58ef9d1e-72de-4082-8067-5b096d582122",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "be5c26cb-6e3f-4f8a-809d-33bc6e424bcf",
              "name": "message.text",
              "value": "={{ $('Telegram Trigger').item.json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -260,
        -100
      ],
      "id": "7b5dceda-bccb-435d-8081-79e9327c3800",
      "name": "Edit Fields2"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        560,
        220
      ],
      "id": "3fa5eb99-b5a3-4468-88b7-1c0cd436bbba",
      "name": "Wikipedia"
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "ResponderTelegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NASA": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "websearch": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cfea513c-2775-480e-830e-c674e4648da6",
  "meta": {
    "instanceId": "1aef4fa281f73d835e7f06567b000eaa19744e257a33ec2e2fccf7ec9992159f"
  },
  "id": "IWwEZHr8Cn6ZEM1A",
  "tags": []
}